<%- include('partials/_headers') %>
<div class="container">
    <h2>Informe de Comisiones</h2>
    <p>Total Recaudado por Comisiones: $<%= commissions[0] ? commissions[0].totalCommissions : 0 %></p>
</div>
<%- include('partials/_footer') %>
