<%- include('partials/_headers') %>
<div class="container">
    <h2>Informe de Multas</h2>
    <p>Total Recaudado por Multas: $<%= fines[0] ? fines[0].totalFines : 0 %></p>
</div>
<%- include('partials/_footer') %>
