<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Inmobiliaria de Famosos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDN -->

    <!-- Incluye Bootstrap y tus propios estilos personalizados -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener tu propio archivo CSS -->

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin-top: 20px;
        }
        .navbar {
            background-color: #0056b3;
        }
        .navbar-brand, .nav-link {
            color: #ffffff !important;
        }
        .nav-link {
            margin-right: 15px;
        }
        .nav-link:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Inmobiliaria de Famosos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/properties">Propiedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/transactions">Transacciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addProperty">Registrar Propiedad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addFamous">Registrar Famoso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auctions">Subastas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Registrar Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/famousInventory">Inventario de Famosos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Opcional: Contenido principal de la página aquí -->
</body>
</html>








